<aside>
	<h1>Shopping list:</h1>
	<ul id="newList">
		<li>Eggs</li>
		<li>Milk</li>
	</ul>
</aside>
<article class="mrg" data-ng-if="!menuOpened">
	<div class="search">
		<input type="text"/>
	</div>
	<ul id="categories">
		<li style="background-image: url(img/bread.jpg)"><span>Bread</span></li>
		<li style="background-image: url(img/fruits.jpg)"><span>Fruits</span></li>
		<li style="background-image: url(img/meat.jpg)"><span>Meat</span></li>
		<li style="background-image: url(img/vegetables.jpg)"><span>Vegetables</span></li>
	</ul>
</article>