<div>
	<div class="search">
		<input type="text"/>
	</div>
	<ul id="categories">
        <a href="#/receiver-add-list/product/{{cat.value}}">
            <li ng-repeat="cat in categories" style="background-image: url(img/products/{{cat.img}})">
                <span>
                    {{cat.name}}
                </span>
            </li>
        </a>
	</ul>
    <div class="mobile fixedButton" id="showList">
        <i class="fa fa-backward" data-ng-click="$root.showStore = false"></i>
    </div>
</div>